<!DOCTYPE html>
<html lang="en">

<head>
  {% include '/mod/head.html' %}
</head>

<body class="hold-transition sidebar-mini layout-fixed">
  <div class="wrapper">
    <!-- Preloader -->
    {% include '/mod/preloader.html' %}
    
    <!-- Navbar -->
    {% include '/mod/nav.html' %}
    
    <!-- Main Sidebar Container -->
    {% include '/mod/left.html' %}
    
    <!-- Content Wrapper. Contains page content -->
    {% include '/pages/index_contents.html' %}

    <!-- /.content-wrapper -->
    {% include '/mod/footer.html' %}

    <!-- Control Sidebar -->
     {% include '/mod/right.html' %}
    
  </div>
  <!-- ./wrapper -->
  {% include '/mod/js.html' %}
</head>
</body>

</html>