<!DOCTYPE html>
<html lang="en">
<head>
  {% include '/mod/head.html' %}
</head>
<body class="hold-transition sidebar-mini layout-fixed">
  <div class="wrapper">
    {% include '/mod/nav.html' %}
    {% include '/mod/left.html' %}
    {% include '/pages/sales_board_contents.html' %}
    {% include '/mod/footer.html' %}
    {% include '/mod/right.html' %}    
  </div>
  {% include '/mod/js.html' %}
  <script>
    // 검색창을 특정 --> 검색어 회득할때 활용
    const searchInput = document.querySelector('#searchInput');
    console.log( '검색창 확인 ', searchInput );
    // 검색버튼을 특정 --> 검색어를 서버로 보내서 결과를 받아오는 (ajax 통신) 작업 진행 ->결과를 화면에 반영
    const searchBtn = document.querySelector('#searchBtn')
    console.log( '검색버튼 확인 ', searchBtn );

    // 버튼 이벤트 추가(클릭), 검색창 이벤트 추가(엔터->키프레스)
    searchBtn.addEventListener('click', (event)=>{
      console.log('버튼 클릭 1', event);
      searching()
    })
    searchInput.addEventListener('keypress', (event)=>{
      if (event.keyCode == 13) {
        console.log('엔터', event);  
        searching()
      }      
    })

    // 검색 요청 -> 응답 결과 파싱 -> 화면 반영
    function searching() {
      // 1. 검색 요청
      // 1-1. 검색어 획득
      const param = { query:searchInput.value }; // key는 query, value:검색어(sea....value)
      console.log( param )
      // 1-2. 서버 전송 ( 자체:fetch, 외부:axios, ...)
      postData("/sales/search/", param)
      .then((res) => {
        const { results } = res; // 객체 구조 분해 (객체 비구조화 할당)
        //console.log(results);
        // 결과 화면 갱신(반영, 세팅)
        resetResultTable( results );
      });

      // fetch : Fetch API는 HTTP 파이프라인을 구성하는 요청과 응답 등의 요소를 JavaScript에서 접근하고 조작할 수 있는 인터페이스를 제공합니다.
      /*
      fetch("/sales/search/", {
        method        : "POST",               // method 방식을  post 지정
        mode          : "cors",
        cache         : "no-cache",
        credentials   : "same-origin",
        headers       : {
          "Content-Type": "application/json", // 전송되는 데이터의 콘텐츠 타입 지정(json으로)
        },
        redirect      : "follow",
        referrerPolicy: "no-referrer",
        body          : JSON.stringify(data), // js의 객체형태를 -> 문자열형태로 변환 : 객체직렬화
      })
      .then(    (res)=>{
        // 성공시 작업 진행        
        res.json()
        .then( (data)=>{
          console.log( '검색성공',  data );
        } )
      } )  // 이쪽으로 진입하면 통신 성공, res:서버측응답결과
      .catch(   (err)=>{
        // 실패시 작업 진행
        console.log( '검색실패',  err );
      } )  // 이쪽으로 진입하면 통신 실패, err:통신실패내용
      .finally( ()=>{
        console.log( '뒷정리' );
      } )     // 뒷정리 
      */   
    }

    // 검색 결과 화면 처리
    // 객체 구조 분해를 함수의 인자에서 바로 진행
    function resetResultTable( sales ) {
      console.log( '화면처리', sales ); //sales는 [ {}, {}, ... ]
      // 0, 테이블의 <tbody>를 특정(찾아라) -> 해당요소의 자식(하위 요소) 모두 제거
      document.querySelector('#search_results').innerHTML = '' 
      // 1. sales에서 하나씩 데이터 꺼내서(for, map()) 
      //    -> html 형태로 가공 -> 테이블의 <tbody> 추가
      let html = ''; // 동적으로 만들어지는 html을 담을 변수
      sales.forEach(  (sale, index) => {
        // 데이터 획득 => html 폼에 넣어서 => 동적으로 html 구성 => 변수 누적
        html = html + `
          <tr onclick="showDetail( '${sale["order_no"]}' );">
              <td>${ sale["order_no"]  }</td>
              <td>${ sale["mem_no"]    }</td>
              <td>${ sale["store_cd"]  }</td>
              <td>${ sale["model"]     }</td>
              <td>${ sale["quantity"]  }</td>
              <td>${ sale["price"]     }</td>
              <td>${ sale["join_date"] }</td>
          </tr>   
          `;
      })
      // 새로 구성된 내용을 테이블의 자식요소로 추가함
      document.querySelector('#search_results').innerHTML = html;
    }

    // 상세 보기 화면으로 이동
    function showDetail( order_no ) {
      if ( confirm('해당 주문을 확인하시겠습니까?') ) {
        console.log('주문번호', order_no);
        // 상세 페이지로 이동!! -> get방식 + 경로 매개변수 활용(주문번호 전달)
        // http://127.0.0.1:8000/sales/detail/2006084
        // 페이지 이동 
        document.location.href = `/sales/detail/${ order_no }`
        return
      }
      // no : 창닫히고 끝.
    }

    // POST 메서드 구현 예제
    async function postData(url = "", data = {}) {
      // 옵션 기본 값은 *로 강조
      const response = await fetch(url, {
        method: "POST", // *GET, POST, PUT, DELETE 등
        mode: "cors", // no-cors, *cors, same-origin
        cache: "no-cache", // *default, no-cache, reload, force-cache, only-if-cached
        credentials: "same-origin", // include, *same-origin, omit
        headers: {
          "Content-Type": "application/json",
          // 'Content-Type': 'application/x-www-form-urlencoded',
        },
        redirect: "follow", // manual, *follow, error
        referrerPolicy: "no-referrer", // no-referrer, *no-referrer-when-downgrade, origin, origin-when-cross-origin, same-origin, strict-origin, strict-origin-when-cross-origin, unsafe-url
        body: JSON.stringify(data), // body의 데이터 유형은 반드시 "Content-Type" 헤더와 일치해야 함
      });
      return response.json(); // JSON 응답을 네이티브 JavaScript 객체로 파싱
    }
    
  </script>
</body>
</html>